<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!-- <bean id="promoteJob" class="com.kaisa.promote.PromoteApplication"/>

    <context:annotation-config/>
    <task:scheduled-tasks>
        <task:scheduled ref="promoteJob" method="testCron" cron="0/2 * * * * *"/>
    </task:scheduled-tasks>-->
</beans>